MONGO_URI = mongodb+srv://adminappnet_db_user:
PORT = 3000
CORS_ORIGIN = http://localhost:5173


ACCESS_TOKEN_SECRET = your_access_token_secret
REFRESH_TOKEN_SECRET = your_refresh_token_secret
ACCESS_TOKEN_EXPIRY = 1d
REFRESH_TOKEN_EXPIRY = 10d

CLOUDINARY_CLOUD_NAME=Your_cloud_name
CLOUDINARY_API_KEY = Your_cloud_key
CLOUDINARY_API_SECRET=your_cloud_secret